<a href="https://colab.research.google.com/github/digital0923RJ/Data-Science---Kaggle-Project/blob/main/Exploring_Mental_Health.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
!pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.10/dist-packages (1.2.7)
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.8.0)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.13.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.55.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.2.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (9.0.0)

In [67]:
!pip install optuna

Requirement already satisfied: optuna in /usr/local/lib/python3.10/dist-packages (4.1.0)
Requirement already satisfied: alembic>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from optuna) (1.14.0)
Requirement already satisfied: colorlog in /usr/local/lib/python3.10/dist-packages (from optuna) (6.9.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from optuna) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from optuna) (24.2)
Requirement already satisfied: sqlalchemy>=1.4.2 in /usr/local/lib/python3.10/dist-packages (from optuna) (2.0.36)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from optuna) (4.66.6)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from optuna) (6.0.2)
Requirement already satisfied: Mako in /usr/local/lib/python3.10/dist-packages (from alembic>=1.5.0->optuna) (1.3.6)
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.10/dist-packages (from alembic>=1.5.0->optuna) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.4.2->optuna) (3.1.1)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.10/dist-packages (from Mako->alembic>=1.5.0->optuna) (3.0.2)

In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from catboost import Pool, CatBoostClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score
import optuna
from optuna.samplers import TPESampler

In [69]:
# Progress Tracking
from tqdm import tqdm
from tqdm.notebook import tqdm as tqdm_notebook

In [70]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.10/dist-packages (2.6.4)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.5.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.14.4)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (24.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.16.0)

In [71]:
# Feature Engineering and Processing
from sklearn.preprocessing import (
    LabelEncoder,
    StandardScaler,
    MinMaxScaler,
    PowerTransformer,
    FunctionTransformer,
    RobustScaler
)
from category_encoders import (
    OneHotEncoder,
    OrdinalEncoder,
    CountEncoder,
    CatBoostEncoder,
    TargetEncoder
)
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [72]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [73]:
DATA_PATH = "/content/drive/MyDrive/Kaggle/Exploring Mental Health Data"

In [74]:
train = pd.read_csv(f"{DATA_PATH}/train.csv") # 학습데이터
test = pd.read_csv(f"{DATA_PATH}/test.csv") # 테스트 데이터
ori = pd.read_csv(f"{DATA_PATH}/final_depression_dataset_1.csv")

Column Descriptions
*   Name: Identifier for participants (anonymized)
*   Gender: Participant's gender identity
*   Age: Participant's age
*   City: Location of residence
*   Working Professional or Student: Current occupation category
*   Profession: Specific profession/field of work
*   Degree: Educational qualification
*   CGPA: Academic performance measure
*   Academic Pressure: Level of pressure from academic responsibilities
*   Work Pressure: Level of pressure from work responsibilities
*   Study Satisfaction: Level of satisfaction with studies
*   Job Satisfaction: Level of satisfaction with current job
*   Work/Study Hours: Daily hours spent on work/study
*   Sleep Duration: Average daily sleep hours
*   Dietary Habits: Eating patterns and food preferences
*   Have you ever had suicidal thoughts ?: History of suicidal ideation (Yes/No)
*   Financial Stress: Level of stress related to financial situation
*   Family History of Mental Illness: Presence of mental illness in family (Yes/No)
*   Target Variable: Depression, Binary indicator (1 = Yes, 0 = No) of depression risk

Evaluation Metric

*   The model performance is evaluated using Accuracy Score
*   Accuracy = (Number of Correct Predictions) / (Total Number of Predictions)

Objectives

*   Build a machine learning model to predict depression risk based on various life factors
*   Identify key contributors to mental health challenges
*   Analyze the relationship between different life aspects (academic, professional, personal) and depression risk
*   Create a reliable predictive model for early depression risk assessment
*   Understand the impact of lifestyle factors on mental health

In [75]:
ori['Depression'] = ori['Depression'].map({"Yes":1,"No":0}) #change Yes to 1 , No to 0 - Part of binary encoding
train = pd.concat([train, ori], ignore_index=True)

In [79]:
# Drop ID columns if present
if 'id' in train.columns:
    train.drop(columns=['id'], inplace=True)
if 'id' in test.columns:
    test.drop(columns=['id'], inplace=True)

In [80]:
def display_object_columns(df):
    object_columns = df.select_dtypes(include=['object']).columns
    print("Object 타입 열들:")
    for col in object_columns:
        print(f"열 이름: {col}")
        print(df[col].head())
        print()
# 함수 호출 (train에 대해)
display_object_columns(train)
display_object_columns(test)

Object 타입 열들:
열 이름: Name
0    Aaradhya
1       Vivan
2      Yuvraj
3      Yuvraj
4        Rhea
Name: Name, dtype: object

열 이름: Gender
0    Female
1      Male
2      Male
3      Male
4    Female
Name: Gender, dtype: object

열 이름: City
0         Ludhiana
1         Varanasi
2    Visakhapatnam
3           Mumbai
4           Kanpur
Name: City, dtype: object

열 이름: Working Professional or Student
0    Working Professional
1    Working Professional
2                 Student
3    Working Professional
4    Working Professional
Name: Working Professional or Student, dtype: object

열 이름: Profession
0                Chef
1             Teacher
2                 NaN
3             Teacher
4    Business Analyst
Name: Profession, dtype: object

열 이름: Sleep Duration
0    More than 8 hours
1    Less than 5 hours
2            5-6 hours
3    Less than 5 hours
4            5-6 hours
Name: Sleep Duration, dtype: object

열 이름: Dietary Habits
0      Healthy
1    Unhealthy
2      Healthy
3     Moderate
4    Unhealthy
Name: Dietary Habits, dtype: object

열 이름: Degree
0        BHM
1        LLB
2    B.Pharm
3        BBA
4        BBA
Name: Degree, dtype: object

열 이름: Have you ever had suicidal thoughts ?
0     No
1    Yes
2    Yes
3    Yes
4    Yes
Name: Have you ever had suicidal thoughts ?, dtype: object

열 이름: Family History of Mental Illness
0     No
1     No
2     No
3    Yes
4    Yes
Name: Family History of Mental Illness, dtype: object

Object 타입 열들:
열 이름: Name
0     Shivam
1      Sanya
2       Yash
3     Nalini
4    Shaurya
Name: Name, dtype: object

열 이름: Gender
0      Male
1    Female
2      Male
3    Female
4      Male
Name: Gender, dtype: object

열 이름: City
0    Visakhapatnam
1          Kolkata
2           Jaipur
3           Rajkot
4           Kalyan
Name: City, dtype: object

열 이름: Working Professional or Student
0    Working Professional
1    Working Professional
2    Working Professional
3                 Student
4    Working Professional
Name: Working Professional or Student, dtype: object

열 이름: Profession
0                     Judge
1    Educational Consultant
2                   Teacher
3                       NaN
4                   Teacher
Name: Profession, dtype: object

열 이름: Sleep Duration
0    Less than 5 hours
1    Less than 5 hours
2            7-8 hours
3    More than 8 hours
4            7-8 hours
Name: Sleep Duration, dtype: object

열 이름: Dietary Habits
0    Moderate
1    Moderate
2    Moderate
3    Moderate
4    Moderate
Name: Dietary Habits, dtype: object

열 이름: Degree
0       LLB
1      B.Ed
2    B.Arch
3       BSc
4       BCA
Name: Degree, dtype: object

열 이름: Have you ever had suicidal thoughts ?
0     No
1     No
2    Yes
3    Yes
4    Yes
Name: Have you ever had suicidal thoughts ?, dtype: object

열 이름: Family History of Mental Illness
0    Yes
1     No
2     No
3     No
4     No
Name: Family History of Mental Illness, dtype: object

In [81]:
categorical_columns = train.select_dtypes(include=['object']).columns
categorical_columns

Index(['Name', 'Gender', 'City', 'Working Professional or Student',
       'Profession', 'Sleep Duration', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?',
       'Family History of Mental Illness'],
      dtype='object')

In [ ]:
for columns in categorical_columns: # 범주형 열(column) 이름이 담긴 리스트임. #루프를 사용하여 리스트에 있는 각 열에 대해 반복적으로 작업을 수행함.
    plt.figure(figsize= (10, 4)) # 그림 크기
    sns.countplot(x=columns, data = train) # 빈도수 #x는 해당 범주형 열을 설정 # 데이터 가져오기
    sns.histplot(x=columns, data = train) #
    plt.title(f'Distribution of {columns}')
    plt.xticks(rotation=90)
    plt.show()

    # 빈도 계산
    counts = df_train[columns].value_counts(normalize=True) * 100  # 퍼센트로 변환
    counts = counts.reset_index()
    counts.columns = [columns, 'Percentage']

    # 그래프 그리기
    sns.barplot(x=columns, y='Percentage', data=counts)

    plt.title(f'Distribution of {columns} (Percentage)')
    plt.xticks(rotation=90)
    plt.show()

In [42]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.10/dist-packages (2.17.1)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.12.1)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.3.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.25.5)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow) (75.1.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.68.0)
Requirement already satisfied: tensorboard<2.18,>=2.17 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.17.1)
Requirement already satisfied: keras>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.5.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.37.1)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.26.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow) (0.45.0)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->tensorflow) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->tensorflow) (0.0.8)
Requirement already satisfied: optree in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->tensorflow) (0.13.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow) (2024.8.30)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.18,>=2.17->tensorflow) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.18,>=2.17->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.18,>=2.17->tensorflow) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.18,>=2.17->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.2.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.2.0->tensorflow) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.2.0->tensorflow) (0.1.2)

In [43]:
import tensorflow as tf
# Check for GPU availability
global device
gpus = tf.config.list_physical_devices('GPU')

In [44]:
if gpus:
    print("GPU is available")
    device = 'gpu'
    # Enable memory growth for GPU
    for gpu in gpus:
        tf.config.experimental.set_memory_growth(gpu, True)
else:
    print("GPU is not available")
    device = 'cpu'

GPU is not available

In [46]:
# Create copies for backup
train_copy = train.copy()
test_copy = test.copy()
original_copy = ori.copy()

In [51]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143256 entries, 0 to 143255
Data columns (total 19 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Name                                   143256 non-null  object
 1   Gender                                 143256 non-null  object
 2   Age                                    143256 non-null  float64
 3   City                                   143256 non-null  object
 4   Working Professional or Student        143256 non-null  object
 5   Profession                             105953 non-null  object
 6   Academic Pressure                      28399 non-null   float64
 7   Work Pressure                          114836 non-null  float64
 8   CGPA                                   28400 non-null   float64
 9   Study Satisfaction                     28399 non-null   float64
 10  Job Satisfaction                       114844 non-null  float64
 11  Sleep Duration                         143256 non-null  object
 12  Dietary Habits                         143252 non-null  object
 13  Degree                                 143254 non-null  object
 14  Have you ever had suicidal thoughts ?  143256 non-null  object
 15  Work/Study Hours                       143256 non-null  float64
 16  Financial Stress                       143252 non-null  float64
 17  Family History of Mental Illness       143256 non-null  object
 18  Depression                             143256 non-null  int64
dtypes: float64(8), int64(1), object(10)
memory usage: 20.8+ MB

In [63]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
scaler = StandardScaler()
Onehot = OneHotEncoder()
Label = LabelEncoder()

In [65]:
# 수치형 열과 범주형 열 구분
numeric_columns = train.select_dtypes(include=[np.number]).columns
categorical_columns = train.select_dtypes(include=['object']).columns

In [62]:
def display_object_float(df):
    float64_columns = df.select_dtypes(include=['float64']).columns
    print("float64 타입 열들:")
    for col in float64_columns:
        print(f"열 이름: {col}")
        print(df[col].head())
        print()
display_object_float(train)
display_object_float(test)

float64 타입 열들:
열 이름: Age
0    49.0
1    26.0
2    33.0
3    22.0
4    30.0
Name: Age, dtype: float64

열 이름: Academic Pressure
0    3.139829
1    3.139829
2    5.000000
3    3.139829
4    3.139829
Name: Academic Pressure, dtype: float64

열 이름: Work Pressure
0    5.000000
1    4.000000
2    2.999408
3    5.000000
4    1.000000
Name: Work Pressure, dtype: float64

열 이름: CGPA
0    7.657031
1    7.657031
2    8.970000
3    7.657031
4    7.657031
Name: CGPA, dtype: float64

열 이름: Study Satisfaction
0    2.947252
1    2.947252
2    2.000000
3    2.947252
4    2.947252
Name: Study Satisfaction, dtype: float64

열 이름: Job Satisfaction
0    2.000000
1    3.000000
2    2.975131
3    1.000000
4    1.000000
Name: Job Satisfaction, dtype: float64

열 이름: Work/Study Hours
0     1.0
1     7.0
2     3.0
3    10.0
4     9.0
Name: Work/Study Hours, dtype: float64

열 이름: Financial Stress
0    2.0
1    3.0
2    1.0
3    1.0
4    4.0
Name: Financial Stress, dtype: float64

float64 타입 열들:
열 이름: Age
0    53.0
1    58.0
2    53.0
3    23.0
4    47.0
Name: Age, dtype: float64

열 이름: Academic Pressure
0    3.158576
1    3.158576
2    3.158576
3    5.000000
4    3.158576
Name: Academic Pressure, dtype: float64

열 이름: Work Pressure
0    2.000000
1    2.000000
2    4.000000
3    3.011797
4    5.000000
Name: Work Pressure, dtype: float64

열 이름: CGPA
0    7.674016
1    7.674016
2    7.674016
3    6.840000
4    7.674016
Name: CGPA, dtype: float64

열 이름: Study Satisfaction
0    2.939522
1    2.939522
2    2.939522
3    1.000000
4    2.939522
Name: Study Satisfaction, dtype: float64

열 이름: Job Satisfaction
0    5.00000
1    4.00000
2    1.00000
3    2.96092
4    5.00000
Name: Job Satisfaction, dtype: float64

열 이름: Work/Study Hours
0     9.0
1     6.0
2    12.0
3    10.0
4     3.0
Name: Work/Study Hours, dtype: float64

열 이름: Financial Stress
0    3.0
1    4.0
2    4.0
3    4.0
4    4.0
Name: Financial Stress, dtype: float64

In [54]:
# 결측치를 평균값으로 대체
for col in train.select_dtypes(include=['float64']).columns:
    train[col].fillna(train[col].mean(), inplace=True)

for col in test.select_dtypes(include=['float64']).columns:
    test[col].fillna(test[col].mean(), inplace=True)

<ipython-input-54-36c8b31d4d69>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train[col].fillna(train[col].mean(), inplace=True)
<ipython-input-54-36c8b31d4d69>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test[col].fillna(test[col].mean(), inplace=True)

In [55]:
print(train.isnull().sum())
print(test.isnull().sum())

Name                                         0
Gender                                       0
Age                                          0
City                                         0
Working Professional or Student              0
Profession                               37303
Academic Pressure                            0
Work Pressure                                0
CGPA                                         0
Study Satisfaction                           0
Job Satisfaction                             0
Sleep Duration                               0
Dietary Habits                               4
Degree                                       2
Have you ever had suicidal thoughts ?        0
Work/Study Hours                             0
Financial Stress                             0
Family History of Mental Illness             0
Depression                                   0
dtype: int64
Name                                         0
Gender                                       0
Age                                          0
City                                         0
Working Professional or Student              0
Profession                               24632
Academic Pressure                            0
Work Pressure                                0
CGPA                                         0
Study Satisfaction                           0
Job Satisfaction                             0
Sleep Duration                               0
Dietary Habits                               5
Degree                                       2
Have you ever had suicidal thoughts ?        0
Work/Study Hours                             0
Financial Stress                             0
Family History of Mental Illness             0
dtype: int64

,Name,Gender,Age,City,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,...,Profession_Student,Profession_Teacher,Profession_Travel Consultant,Profession_UX/UI Designer,Profession_Unemployed,Profession_Unveil,Profession_Visakhapatnam,Profession_Working Professional,Profession_Yogesh,Profession_Yuvraj
0,Aaradhya,Female,49.0,Ludhiana,3.139829,5.000000,7.657031,2.947252,2.000000,More than 8 hours,...,False,False,False,False,False,False,False,False,False,False
1,Vivan,Male,26.0,Varanasi,3.139829,4.000000,7.657031,2.947252,3.000000,Less than 5 hours,...,False,True,False,False,False,False,False,False,False,False
2,Yuvraj,Male,33.0,Visakhapatnam,5.000000,2.999408,8.970000,2.000000,2.975131,5-6 hours,...,False,False,False,False,False,False,False,False,False,False
3,Yuvraj,Male,22.0,Mumbai,3.139829,5.000000,7.657031,2.947252,1.000000,Less than 5 hours,...,False,True,False,False,False,False,False,False,False,False
4,Rhea,Female,30.0,Kanpur,3.139829,1.000000,7.657031,2.947252,1.000000,5-6 hours,...,False,False,False,False,False,False,False,False,False,False

In [61]:
print(train.isnull().sum())
print(test.isnull().sum())

Name                                         0
Gender                                       0
Age                                          0
City                                         0
Working Professional or Student              0
Profession                               37303
Academic Pressure                            0
Work Pressure                                0
CGPA                                         0
Study Satisfaction                           0
Job Satisfaction                             0
Sleep Duration                               0
Dietary Habits                               4
Degree                                       2
Have you ever had suicidal thoughts ?        0
Work/Study Hours                             0
Financial Stress                             0
Family History of Mental Illness             0
Depression                                   0
dtype: int64
Name                                         0
Gender                                       0
Age                                          0
City                                         0
Working Professional or Student              0
Profession                               24632
Academic Pressure                            0
Work Pressure                                0
CGPA                                         0
Study Satisfaction                           0
Job Satisfaction                             0
Sleep Duration                               0
Dietary Habits                               5
Degree                                       2
Have you ever had suicidal thoughts ?        0
Work/Study Hours                             0
Financial Stress                             0
Family History of Mental Illness             0
dtype: int64